<footer class="site-footer">
    <div class="footer">
        <p>No. A, Bi Yu Lu, Bitao Yuan Villa, Tai zi Road, Shekou, Nanshan District, 518 067, Shenzhen, P. R. China, Tel:+86-755-2686 7423<br /> <span>Copyright 2010 | Sylvester &amp; Associates International Counselors. All Rights Reserved. I EGB Systems &amp; Solutions.<br /> Language :<a href="../home.html">En</a> I </span> <a href="../../zh/home.html"><img src="../../templates/sylvester/images/icon_china.jpg" border="0" /></a></p>
    </div>
</footer>
