     <script type="text/javascript">
        jQuery(document).ready(function()
         {
            var ul_val  = document.getElementById('ul_val').value;
            if(ul_val == '54' || ul_val == '83' || ul_val == '116' || ul_val == '140')
            {
                document.getElementById('firm').style.display='block';
            }       
            
            if(ul_val == '57' || ul_val == '86' || ul_val == '118' || ul_val == '142')
            {
                document.getElementById('practice').style.display='block';      
            }

            if(ul_val == '66' || ul_val == '87' || ul_val == '127' || ul_val == '154')
            {
                document.getElementById('staff').style.display='block';     
            }
            
            if(ul_val == '73' || ul_val == '88')
            {
                document.getElementById('resources').style.display='block';     
            }
            
            if(ul_val == '178')
            {
                document.getElementById('secured_sourcing').style.display='block';      
            }
         }
         );
    </script>
