<div class="home_left_inner">
  <div class="nav1">
<ul id="menu">
			<li> <a href="/zh/firm/firm-introduction.html">企业</a>	
	
			<ul id="firm" style="display: none;">	
										<li><a href="/zh/firm/firm-introduction.html" title="公司绍介">公司绍介</a></li>
								</ul>
				</li>	
			<li> <a href="/zh/our-practice/corporate-local-counsel.html">我们的实践</a>	
	
			<ul id="practice" style="display: none;">	
										<li><a href="/zh/our-practice/corporate-local-counsel.html" title="公司/地方法律咨询">公司/地方法律咨询</a></li>
												<li><a href="/zh/our-practice/foreign-employee-services.html" title="外国雇员服务">外国雇员服务</a></li>
												<li><a href="/zh/our-practice/wholly-owned-entities.html" title="外商独资企业">外商独资企业</a></li>
												<li><a href="/zh/our-practice/equity-joint-venture.html" title="合资企业">合资企业</a></li>
												<li><a href="/zh/our-practice/mediation-arbitration.html" title="调解与仲裁">调解与仲裁</a></li>
												<li><a href="/zh/our-practice/ip-protection-enforcement.html" title="知识产权保护执法">知识产权保护执法</a></li>
												<li><a href="/zh/our-practice/representative-office-registration.html" title="代表处注册">代表处注册</a></li>
												<li><a href="/zh/our-practice/translation-services.html" title="翻译服务">翻译服务</a></li>
								</ul>
				</li>	
			<li> <a href="our-staff/michael-sylverster.html">我们的职员</a>	
	
			<ul id="staff" style="display: none;">	
										<li><a href="/zh/our-staff/michael-sylverster.html" title="迈克尔Sylvester">迈克尔Sylvester</a></li>
												<li><a href="/zh/our-staff/ella-xu.html" title="徐姝">徐姝</a></li>
												<li><a href="/zh/our-staff/shirley-pan.html" title="潘雪竹">潘雪竹</a></li>
												<li><a href="/zh/our-staff/denisexia.html" title="夏丹桂">夏丹桂</a></li>
												<li><a href="/zh/our-staff/lucy-hu.html" title="胡杨">胡杨</a></li>
												<li><a href="/zh/our-staff/judy-gao.html" title="高艳">高艳</a></li>
												<li><a href="/zh/our-staff/janvie-xu.html" title="徐净文">徐净文</a></li>
												<li><a href="/zh/our-staff/2013-03-28-01-15-12.html" title="唐丽香">唐丽香</a></li>
								</ul>
				</li>	
			<li> <a href="/zh/legal-notice.html">法律公告</a>	
	
	</li>	
			<li> <a href="/zh/contact-us.html">联系我们</a>	
	
	</li>	
			<li><i><a href="/zh/sxafirm/sxaintroduction.html">SXA中国办公室</a></i>
	
	</li>	
			<li><i><a href="http://www.flaminghoops.com/" target="_blank">博客</a></i>
	
	</li>	
			<li style="border:0px;"><i><a href="http://www.ted.com/" target="_blank">特德谈话</a></i>
	
	</li>	
</ul>
  </div>
</div>
